@charset "UTF-8";
*{
	margin:0 auto;
	padding:0;
	padding:0;
	box-sizing: border-box;
	border-collapse:collapse;
}

a{
	text-decoration: none;
	color:black;
}

ul, li{
	list-style:none;
	margin:0;
	padding:0;
	font-size:0.95em;
}

/* ul{
	overflow: hidden;
}

li{
	float:left;
	padding-left:25px;
	text-align:center;
	line-height:50px;
} */

/* header */

header{
/* 	position:relative; */
	height:90px;
	background-color: rgba( 0, 0, 0, 1 );
}

header #top{	
	position:fixed;
	width:100%;
	height:90px;
	padding:20px 0;
	background-color: rgba( 0, 0, 0, 1 );
	z-index:9999;
	margin:0a auto;

}	

header #top .left{
	position:absolute;
	width:29%;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:2.2em;
	font-weight:bold;
	color:white;
}

header #top .left a{
	color:white;
}

header #top .left span{
	color:#3385ff;
}

header #top .center{
	position:absolute;
	left:29%;
	height:50px;
	width:41%;
	line-height:50px;
	text-align:center;
}

header #top .center .form{
	height:46px;
	padding:3px;
	width:100%;
	overflow:hidden;
	background-color:white;
	border-radius:46px;
}
 
header #top .center input[type=text]{
	margin:0;
	width:100%;
	height:40px;
	outline: none;
	border:0;
	font-size:1.1em;
	padding: 3px 43px 3px 10px;
	float:left;
}

header #top .center input[type=submit]{
	position:absolute;
	top:0;
	left:100%;
	transform:translateX(-140%);
	background-image:url('../img/search40x40.jpg');
	background-position: 0px 0px;
	background-rpeat:no-repeat;
	width:40px;
	height:40px;
	outline:none;
	border:0;
	background-color:white;
	margin:3px 0;
}

header #top .center input[type=submit]:hover{
	cursor: pointer;
	position:absolute;
}

header #top .right{
	position:absolute;
	left:100%;
	transform: translate(-100%, 0);
	width:30%;
	height:50px;
	color:white;
	padding-left:50px;
}

header #top .right a{
	color:white;
}

header #top .right .topMenu{
	overflow:hidden;
	width:400px;
}

header #top .right .topMenu>li{
	display:inline-block;
	width:100px;
	padding:5px 10px;
	text-align:center;	
	float:left;
	line-height: 40px;
	font-size: 0.95em;
}

header #top .right .topMenu>li:hover .dropDown{
	display:block;
}

header #top .right .topMenu>li .dropDown{
	display:none;
	width:100px;
	border:3px solid black;
	background-color:white;
}

header #top .right .topMenu>li .dropDown>li{
	width:100px;
	text-align:center;
}

header #top .right .topMenu>li .dropDown>li a{
	color: black;
}

/* section */
section{
	height:1200px;
	
}
#main{
	position:relative;
	width:80%;
	padding-top:50px;
}
#main .left{
	position:absolute;
	width:30%;
	height:100%;
	text-align:center;
	padding:0;
}

#main .left .title{
	margin:30px 10px 5px 20px;
	padding:10px;
	border:3px solid black;	
	font-size:1.5em;
	text-align:left;
	font-weight:bold;
	width:90%;
	overflow:hidden;
}


#main .left .content{
	margin:0 20px;
}

#main .left .content table{
	margin:0;
	float:left;
	border-collapse: separate;
  	border-spacing: 0 20px;
}

#main .left .content th{
	padding:5px;
	color:white;
	font-size:1.5em;
	background-color:black;
}

#main .left .content td{
	padding-left:10px;
	font-size:0.9em;
}


#main .right{
	position:absolute;
	width:70%;
	height:100%;
	left:30%;
}


#main .right .category img{
	width:80px;
}

#main .right .category{
	padding:30px 0 0 30px;
	overflow:hidden;
}

#main .right .category table{
	float:left;
}

#main .right .category td{
	padding:0 40px 10px 0;
	width:80px;
	text-align:center;
	font-size: 0.85em;
}

#main .right .listwrap{
	height:800px;
	top:100px;
}

#main .right .listwrap .list{
	height:400px;
}

#main .nav{
	margin:0 35px 0 30px;
	padding:30px 0 5px 0;
	line-height:50px;
	font-size:1.5em;
	font-weight:bold;
	border-bottom:3px solid black;
}

#main .right .content{
	height:300px;
	margin:0 35px 0 30px;
	border:1px solid black;
}

#main .right .nav a{
	padding-right:10px;
}

#main .right .nav span{
	font-size: 0.6em;
	font-weight:normal;
	float:right;
}

#main .right .list{
	
}



footer{
	position:relative;
	height:150px;
	background-color:black;	
}

footer .all{
	width:100%;
}

footer .all .left{
	position:absolute;
	width:25%;
	height:100%;
	padding:20px 0 0 40px;
	color: white;
	font-size:0.85em;
}

footer .all .right span{
	color: #3385ff;
}


footer .all .right{
	position:absolute;
	width:75%;
	height:100%;
	left:25%;
	padding:20px 0 0 10px;
	color: white;
	font-size:0.85em;
}

footer .title{
	font-size:2.0em;
	font-weight:bold;
}

footer .content{
	color: white;
	font-size:0.8em;
	padding:3px;
}

footer .content p{
	padding:3px 0;
}

footer .content a{
	color:white;
}

